.cardContainer {
  height: 60vh;
  overflow: scroll;
  padding-left: 7%;
}

.cardContainer__wrapper {
  display: flex;
  flex-flow: row wrap;
}

.card {
  background: #fff;
  border-radius: 2px;
  height: 450px;
  margin: 1rem;
  position: relative;
  width: 400px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.card__title {
  display: block;
  font-size: medium;
  font-weight: bold;
  padding: 4%;
}

.card__desc {
  padding: 0 4%;
  font-size: 1rem;
}

.card__img {
  padding: 0 25%;
}

.card__img > img {
  filter: drop-shadow(0 0 0.75rem darkgray);
}

.card__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  min-height: 52px;
  padding: 8px;
}

.card__link > a {
  text-decoration: none;
}
