WIKIDATA_EMAIL=your-email@example.com
DATABASE_URL_POOLED="postgres://user:pass@host/dbname?sslmode=require"
DATABASE_URL_DIRECT="postgres://user:pass@host/dbname?sslmode=require"
GOOGLE_BOOKS_API_KEY='loremipsum'